body {
    font-family: 'Orbitron', sans-serif; /* Шрифт для калькулятора */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота окна браузера */
    margin: 0;
    background-color: #f4f4f4;
}

/* Контейнер для всего калькулятора */
.calc-container {
    width: 320px; /* Ширина калькулятора */
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

/* Стиль для экрана калькулятора */
.screen {
    background-color: #222;
    color: white;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    font-size: 2em;
    margin-bottom: 20px;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Стиль для всех кнопок */
.buttons {
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки */
    gap: 10px;
}

button {
    height: 60px;
    background-color: #444;
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, box-shadow 0.2s;
}

/* Стиль для кнопок при наведении */
button:hover {
    background-color: #555;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Специфические стили для кнопок операций */
button.operation {
    background-color: #ff9500;
}

button.operation:hover {
    background-color: #ffad33;
}

/* Специфические стили для кнопки "=" */
button.result {
    background-color: #00cc66;
    grid-column: span 2; /* Кнопка "=" занимает две колонки */
}

button.result:hover {
    background-color: #33d98a;
}

/* Специфические стили для кнопки очистки "C" */
button.clear {
    background-color: #ff3b30;
    grid-column: span 2; /* Кнопка "C" также занимает две колонки */
}

button.clear:hover {
    background-color: #ff6560;
}